<html>
<body>
<form action="/show" method="POST">
    <label>URL</label>
    <input name="url" id="url" type="text" />
    <input type="submit" value="Show" />
</form>
<hr />
Currently: <%= latest %>
</body>
</html>
